@charset "UTF-8";
/* 
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com 
Twitter: @rich_clark
*/
html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

nav ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title],
dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

input,
select {
  vertical-align: middle;
}

.icon > svg {
  width: 25px !important;
  height: 22px;
  margin-right: 4px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 3px;
}

.el_menu {
  position: relative;
}

.el_menu-btn {
  padding: 0;
  position: absolute;
  top: 10px;
  right: 0px;
  z-index: 100;
  width: 25px;
  background-color: antiquewhite;
  height: 25px;
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
}

.el_menu-line {
  position: absolute;
  top: 75%;
  right: 130%;
  width: 22px;
  height: 2px;
  background-color: #000;
}

.el_menu-line::before {
  content: '';
  position: absolute;
  top: -8px;
  right: 0;
  background-color: #000;
  width: 22px;
  height: 2px;
}

.el_menu-line::after {
  content: '';
  position: absolute;
  top: 8px;
  right: 0;
  background-color: #000;
  width: 22px;
  height: 2px;
}

.el_menu-line.is-active {
  right: 0%;
  background-color: transparent;
}

.el_menu-line.is-active::before {
  top: -8px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  background-color: #fff;
}

.el_menu-line.is-active::after {
  top: -8px;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  background-color: #fff;
}

.el_menu-text {
  display: none;
}

.el_menu-text.is-active {
  display: block;
  position: absolute;
  top: 30%;
  right: -14px;
  font-size: 0.5625rem;
  -webkit-transform: scale(0.5625);
          transform: scale(0.5625);
  color: #fff;
}

.bl_topHeading {
  position: relative;
}

.el_topHeading-text {
  color: #fff;
  font-size: 2.25rem;
  position: absolute;
  top: 31%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  white-space: nowrap;
}

.el_topHeading-text::after {
  position: absolute;
  top: -30%;
  left: -12%;
  font-size: 2.8125rem;
  color: #525050;
  white-space: nowrap;
  z-index: -1;
  content: '';
}

.el_topHeading-text.carlife::after {
  content: 'CAR LIFE';
}

.el_topHeading-text.lifestyle::after {
  content: 'LIFE STYLE';
}

.el_topHeading-text.info::after {
  content: 'INFOMATION';
}

.bl_topContent {
  position: relative;
  max-width: 343px;
  margin: 0 auto;
  margin-top: -170px;
  z-index: 100;
}

.ly_topContent-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #F2F2F2;
  padding: 12px;
  padding-bottom: 80px;
}

.bl_topContent-col {
  position: relative;
}

.bl_topContent-img {
  width: 320px;
}

.el_topContent-logo {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.el_btn {
  text-align: center;
  padding: 25px 0;
  border: 3px solid #000;
  width: 100%;
  border-radius: 4px;
  background-color: #fff;
}

.ly_footer {
  padding: 0 16px;
  margin-top: 96.2px;
}

.ly_footerLogo {
  margin: 76.6px 0 81.6px 0;
}

.ly_footerLogo-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.bl_footerLogo-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.el_footerLogo-item {
  margin: 50px 0;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.el_footerLogo-svg {
  vertical-align: bottom;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.el_footerLogo-svg.virkin {
  width: 127px;
  height: 83px;
}

.el_footerLogo-svg.jeepoutlet {
  width: 137px;
  height: 89px;
}

.el_footerLogo-svg.sales {
  width: 121px;
  height: 79px;
}

.el_footerLogo-svg.jeep {
  width: 121px;
  height: 79px;
}

.el_footerLogo-svg.starkplace {
  width: 222px;
  height: 117px;
}

.el_footerLogo-svg.flight {
  width: 121px;
  height: 79px;
}

.el_footerLogo-svg.beacon {
  width: 121px;
  height: 79px;
}

.el_footerLogo-svg.rockstarr {
  width: 149px;
  height: 97px;
}

.bl_footerApp {
  margin-bottom: 74px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.el_footerApp-iphone {
  margin: 0 auto;
  margin-bottom: 20px;
}

.el_footerApp-google {
  margin: 0 auto;
}

.el_footerCopyright {
  padding-bottom: 15px;
  text-align: center;
  font-size: 0.5625rem;
  -webkit-transform: scale(0.5625);
          transform: scale(0.5625);
}

.main {
  background-color: #F2F2F2;
}

body {
  line-height: 1.8;
  color: #333;
  font-size: 20px;
  font-family: "Copperplate", Helvetica, "游ゴシック体", sans-serif;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: bottom;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.f-yu {
  font-family: "游ゴシック体";
}

.header {
  position: fixed;
  width: 100%;
  z-index: 1000;
  background-color: #fff;
}

.header.sp {
  position: relative;
  height: 40px;
  padding: 10px 16px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 1000;
}

.header.sp.is-active {
  display: none;
}

.ly_headerLogo {
  position: fixed;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  padding: 10px 0;
}

.ly_headerLogo.is-active {
  position: relative;
  left: 0;
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.el_headerLogo {
  display: block;
  margin: 0 auto;
  width: 71px;
  height: 40px;
}

.el_headerLogo.white {
  display: none;
}

.el_headerLogo.is-active {
  margin-top: 80px;
  margin-bottom: 50px;
  width: 77px;
  height: 44px;
}

.el_headerLogo.is-active.black {
  display: none;
}

.el_headerLogo.is-active.white {
  display: block;
}

.bl_burger {
  display: none;
  padding: 0 20px;
  background-color: #000;
}

.bl_burger.is-active {
  display: block;
}

.bl_burgerCol {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.bl_burgerNav {
  margin-top: 84px;
}

.bl_burgerUl {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.el_burgerItem {
  position: relative;
}

.el_burgerImg {
  position: relative;
}

.el_burgerLi {
  margin-right: 21px;
}

.el_burgerLi:last-child {
  margin-right: 0;
}

.el_burgerLink {
  color: #fff;
}

.el_burgerVirkin::before {
  content: '';
  width: 109px;
  height: 56px;
  background-image: url(../../img/top/burgerLogo-virkin.svg);
  position: absolute;
  top: 23px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  z-index: 100;
  display: block;
}

.el_burgerVirkin::after {
  content: '';
  width: 129px;
  height: 26px;
  background-image: url(../../img/top/burgerLogo-rockstarr.svg);
  position: absolute;
  bottom: 30px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  z-index: 100;
  display: block;
}

.el_burgerJeep::before {
  content: '';
  width: 107px;
  height: 53.5px;
  background-image: url(../../img/top/burgerLogo-outletjeep.svg);
  position: absolute;
  top: 14px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  z-index: 100;
  display: block;
}

.el_burgerJeep::after {
  content: '';
  width: 88px;
  height: 44px;
  background-image: url(../../img/top/burgerLogo-jeep.svg);
  position: absolute;
  bottom: 27px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  z-index: 100;
  display: block;
}

.el_burgerSales::before {
  content: '';
  width: 82px;
  height: 74px;
  background-image: url(../../img/top/burgerLogo-sales.svg);
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -60%);
          transform: translate(-50%, -60%);
  z-index: 100;
  display: block;
}

.el_burgerStarkplace::before {
  content: '';
  width: 142px;
  height: 14px;
  background-image: url(../../img/top/burgerLogo-starkplace.svg);
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -90%);
          transform: translate(-50%, -90%);
  z-index: 100;
  display: block;
}

.el_burgerFlight::before {
  content: '';
  width: 146px;
  height: 83px;
  background-image: url(../../img/top/burgerLogo-flight.svg);
  position: absolute;
  top: 23px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  z-index: 100;
  display: block;
}

.el_burgerBeacon::before {
  content: '';
  width: 154px;
  height: 89px;
  background-image: url(../../img/top/burgerLogo-beacon.svg);
  position: absolute;
  top: 17%;
  left: 50%;
  -webkit-transform: translate(-50%, 0%);
          transform: translate(-50%, 0%);
  z-index: 100;
  display: block;
}

.bl_burgerIcon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-top: 40px;
  padding-bottom: 50px;
}

.el_burgerIcon-item > svg {
  fill: rgba(255, 255, 255, 0.5);
}

.el_headerMenu-btn {
  position: absolute;
  top: 0;
  right: 0;
}

.header.pc {
  display: none;
}

.bl_headerNav-above-ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  vertical-align: middle;
}

.el_headerNav-above-li {
  margin-right: 20px;
}

.el_headerNav-above-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #000;
  font-size: 15px;
  font-weight: bold;
}

.bl_mv {
  padding-top: 60px;
  position: relative;
}

.ly_mvContainer {
  position: relative;
  padding: 20px 0;
}

.bl_mvSlide.pc {
  display: none;
}

.el_mvImg {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.bl_mvTitle {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-align: center;
  color: #fff;
}

.ly_mvTitle-life {
  margin-bottom: -5px;
}

.ly_mvTitle-with {
  margin-top: -10px;
}

.ly_mvTitle-virkin {
  margin-top: -15px;
}

.el_mvTitle-b {
  text-shadow: 0 0 20px black;
  font-size: 5.05rem;
  line-height: 1.13;
}

.el_mvTitle-s {
  text-shadow: 0 0 20px black;
  display: block;
  font-size: 2.2rem;
  line-height: 1.16;
}

.el_mvScroll {
  position: absolute;
  z-index: 100;
  color: #fff;
  bottom: -71px;
  left: 50%;
  -webkit-transform: translateX(-50%) scale(0.8);
          transform: translateX(-50%) scale(0.8);
}

.el_mvScroll-arrow {
  position: absolute;
  z-index: 100;
  content: '';
  bottom: -38px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 1px;
  height: 30px;
  background-color: #fff;
}

.el_mvScroll-arrow::before {
  position: absolute;
  content: '';
  bottom: -2px;
  left: 5px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  width: 1px;
  height: 15px;
  background-color: #fff;
}

.el_mvScroll-arrow::after {
  position: absolute;
  content: '';
  bottom: -2px;
  right: 5px;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  width: 1px;
  height: 15px;
  background-color: #fff;
}

.bl_topContent-col svg {
  fill: #fff;
  color: #fff;
  width: 50%;
}

.el_topContent {
  position: relative;
}

.el_topContent-logo.virkin {
  position: absolute;
  top: 25%;
  left: 50%;
  -webkit-transform: translate(-50%, -25%);
          transform: translate(-50%, -25%);
}

.el_topContent-logo.rockstarr {
  position: absolute;
  top: 75%;
  left: 50%;
  -webkit-transform: translate(-50%, -75%);
          transform: translate(-50%, -75%);
}

.el_topContent-logo.jeepoutlet {
  position: absolute;
  top: 25%;
  left: 50%;
  -webkit-transform: translate(-50%, -25%);
          transform: translate(-50%, -25%);
}

.el_topContent-logo.jeep {
  position: absolute;
  top: 75%;
  left: 50%;
  -webkit-transform: translate(-50%, -75%);
          transform: translate(-50%, -75%);
}

.el_topContent-line {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  content: '';
  width: 76%;
  height: 1px;
  background-color: #fff;
}

.bl_info > .ly_topContent-container {
  padding-bottom: 58px;
}

.bl_topContent-text {
  color: #fff;
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 0 14px 14px 14px;
}

.ly_topContent-date {
  margin-right: 20px;
}

.el_topContent-date {
  font-size: 0.5625rem;
}

.el_topContent-label {
  font-size: 0.5625rem;
}

.el_topContent-heading {
  font-size: 1rem;
}

.bl_btnArea {
  padding: 0 16px;
  color: #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.el_btnNews {
  margin-right: 10px;
}

.el_footerLogo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.el_footerSvg {
  width: 113.5px;
  height: 77px;
}
/*# sourceMappingURL=style.css.map */