.icon>svg {
  width: 25px !important;
  height: 22px;
  margin-right: 4px;
  align-items: center;
  padding-top: 3px;

  @include mq('lg') {
    fill: rgba(255, 255, 255, 0.5);
  }
}

.el_menu {
  position: relative;

  // z-index: 10000;
  &-btn {
    padding: 0;
    position: absolute;
    top: 10px;
    // transform: translateY(-50%);
    right: 0px;
    z-index: 100;
    width: 25px;
    background-color: antiquewhite;
    height: 25px;
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
  }

  &-line {
    position: absolute;
    top: 75%;
    right: 130%;
    width: 22px;
    height: 2px;
    background-color: #000;

    &::before {
      content: '';
      position: absolute;
      top: -8px;
      right: 0;
      background-color: #000;
      width: 22px;
      height: 2px;
    }

    &::after {
      content: '';
      position: absolute;
      top: 8px;
      right: 0;
      background-color: #000;
      width: 22px;
      height: 2px;
    }

    &.is-active {
      right: 0%;
      background-color: transparent;

      &::before {
        top: -8px;
        transform: rotate(45deg);
        background-color: #fff;
      }

      &::after {
        top: -8px;
        transform: rotate(-45deg);
        background-color: #fff;
      }
    }
  }

  &-text {
    display: none;

    &.is-active {
      display: block;
      position: absolute;
      top: 30%;
      right: -14px;
      font-size: 0.5625rem;
      transform: scale(0.5625);
      // transform-origin: left top;
      color: #fff;
    }
  }
}

// TOPページの見出し
.bl_topHeading {
  position: relative;
}

.el_topHeading {
  &.pc {
    display: none;
  }

  max-height: 348px;

  &-text {
    color: #fff;
    font-size: 2.25rem;
    position: absolute;
    top: 34%;
    left: 50%;
    transform: translateX(-50%);
    // z-index: 100;
    white-space: nowrap;

    &::after {
      position: absolute;
      top: -27%;
      left: -12%;
      font-size: 2.8125rem;
      color: #525050;
      white-space: nowrap;
      z-index: -1;
      content: '';
    }

    &.carlife {
      &::after {
        content: 'CAR LIFE';
      }
    }

    &.lifestyle {
      &::after {
        top: -65%;
        content: 'LIFE STYLE';
      }
    }

    &.info {
      top: 48%;

      &::after {
        // font-size: 3rem;
        // letter-spacing: .08em;
        // left: -19%;
        content: 'INFORMATION';
      }
    }
  }

  @include mq('md') {
    &.pc {
      display: block;
    }

    &.sp {
      display: none;
    }
  }

  @include mq('lg') {
    &-text {
      top: 35%;
      font-size: 2.8rem;
      &.info{
        top: 35%;
      }
      &::after {
        top: -60%;
        left: -35%;
        font-size: 5rem;
      }
    }
  }
  @include mq('xl') {
    &-text {
      top: 48.5%;
      font-size: 2.8rem;
      &.info{
        top: 48%;
      }
      &::after {
        top: -60%;
        left: -35%;
        font-size: 5rem;
      }
    }
  }
}

// TOPページの各コンテンツ
.ly_topContent {
  &-container {
    // display: flex;
    // flex-grow: 1;
    background-color: #F2F2F2;
    padding: 12px;
    padding-bottom: 67px;
    // background-color: red;
  }

  @include mq('md') {
    &-col {
      display: flex;
      // flex-wrap: wrap;
      // flex-direction: row;
    }
  }

  @include mq('lg') {
    &-container {
      padding: 20px;
      padding-bottom: 70px;
    }
  }
}

.bl_topContent {
  position: relative;
  width: 91.5%;
  margin: 0 auto;
  margin-top: -7.9em;
  z-index: 100;

  &-col {
    width: 100%;
    position: relative;
    padding-bottom: 11px;
  }

  @include mq('md') {
    margin-top: -2em;

    &-col {
      margin-bottom: 0;
      margin-right: 20px;

      &:nth-of-type(3n) {
        margin-right: 0;
      }
    }
  }

  @include mq('lg') {
    margin-top: -4.75em;
    width: 88%;
  }
}

.el_topContent {
  &-logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    // background-color: antiquewhite;
  }

  &-img {
    width: 100%;
  }

  &-link {

    &:focus,
    &:hover {
      opacity: .7;
      transition: .3s;
    }
  }
}

// 基本で使うボタン
.el_btn {
  text-align: center;
  padding: 20px 0;
  border: 3px solid #000;
  max-width: 230px;
  width: 100%;
  border-radius: 4px;
  background-color: #fff;
  text-decoration: none;

  &News {
    margin-right: 10px;
  }

  &:focus,
  &:hover {
    background-color: #000;
    color: #fff;
    transition: .3s;
  }

  @include mq('lg') {
    &News {
      margin-right: 23px;
    }
  }
}

// フッター
.ly_footer {
  padding: 0 16px;
  margin-top: 96.2px;

  // display: flex;
  // flex-direction: column;
  &Logo {
    margin: 60px 0 45px;

    // background-color: antiquewhite;
    &-item {
      display: flex;
    }
  }

  @include mq('lg') {
    margin-top: 125px;
    &Logo{
      margin: 0;
    }
    &-content.wrapper {
      display: flex;
      margin-bottom: 75px;
    }
  }
}

.bl_footer {
  &Logo {
    &-container {
      display: flex;
      justify-content: space-around;
      flex-wrap: wrap;
    }
  }

  &App {
    margin-bottom: 60px;
    display: flex;
    flex-direction: column;
    // flex-wrap: wrap;
    justify-content: center;
  }

  @include mq('md') {
    &App {
      flex-direction: row;
    }
  }
  @include mq('lg'){
    &App{
      margin-bottom: 13px;
    }
  }
}

.el_footer {
  &Logo {
    &-item {
      margin: 10px 0;
      // background-color: green;
      justify-content: center;
      position: relative;
      display: flex;
      align-items: center;
    }

    &-svg {
      // position: absolute;
      // top: 50%;
      // left: 50%;
      // transform: translate(-50%,-50%);
      // z-index: 5000;
      // width: 137px;
      // background-color: red;
      vertical-align: bottom;
      display: flex;
      align-items: center;

      // justify-content: center;
      // height: 89px;
      &.virkin {
        width: 127px;
        width: 80%;
        height: 83px;
      }

      &.jeepoutlet {
        width: 137px;
        width: 80%;
        height: 89px;
      }

      &.sales {
        width: 121px;
        width: 140%;
        height: 84px;
        // height: 10%;
      }

      &.jeep {
        width: 121px;
        width: 80%;
        height: 79px;
      }

      &.starkplace {
        width: 222px;
        width: 70%;
        height: 117px;
      }

      &.flight {
        width: 121px;
        // width: 80%;
        height: 79px;
      }

      &.beacon {
        width: 121px;
        width: 150%;
        height: 80px;
      }

      &.rockstarr {
        width: 149px;
        width: 75%;
        height: 97px;
      }
    }
  }

  &App {
    &-iphone {
      margin: 0 auto;
      margin-bottom: 20px;
    }

    &-google {
      margin: 0 auto;
    }
  }

  &Copyright {
    padding-bottom: 15px;
    text-align: center;
    font-size: 0.5625rem;
    transform: scale(0.5625);
  }

  @include mq('md') {
    &App {
      &-iphone {
        margin: 0;
        margin-right: 16px;
      }

      &-google {
        margin: 0;
      }
    }
  }
  @include mq('lg') {
    &App{
      // margin-bottom: 10px;
    }
    &Logo {
      &-item {
        width: 25%;
        // background-color: red;
      }
    }
  }
}

.topArrow {
  // display: none;
  // position: relative;

  @include mq('md') {
    position: absolute;
    bottom: 0;
    right: 0;

    &-link {
      width: 78px;
      height: 78px;
      display: block;
      background-color: #2B2B2B;
      border: 2px solid #000;

      &:focus,
      &:hover {
        opacity: .7;
        // background-color: #fff;
        transition: .2s;
        border: 2px solid #000;
      }
    }

    &-line {
      // display: block;
      position: absolute;
      z-index: 100;
      content: '';
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      // transform: rotate(90deg);
      width: 1px;
      height: 30px;
      background-color: #fff;

      &::before {
        position: absolute;
        content: '';
        top: -2px;
        left: 5px;
        // transform: translateX(-50%);
        transform: rotate(-45deg);
        width: 1px;
        height: 15px;
        background-color: #fff;
      }

      &::after {
        position: absolute;
        content: '';
        top: -2px;
        right: 5px;
        // transform: translateX(-50%);
        transform: rotate(45deg);
        width: 1px;
        height: 15px;
        background-color: #fff;
      }
    }
  }
}