body {
  line-height: 1.8;
  color: #333;
  font-size: 20px;
  font-family: "Copperplate", Helvetica, "游ゴシック体", sans-serif;
  // position: relative;
  // &::before{
  //   position: absolute;
  //   top: 0;
  //   left: 50%;
  //   transform: translateY(-50%);
  //   content: '';
  //   width: 1px;
  //   background-color: red;
  //   height: 8000px;
  //   z-index: 100000;
  // }
}

img {
  max-width: 100%;
  width: 100%;
  height: auto;
  vertical-align: bottom;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.f-yu {
  font-family: "游ゴシック体";
}


.header {
  position: fixed;
  width: 100%;
  z-index: 1000;
  background-color: #fff;

  &.sp {
    position: relative;
    height: 40px;
    padding: 10px 16px;
    // background-color: antiquewhite;
    // background-color: gray;
    // display: flex;
    justify-content: center;
    z-index: 1000;

    &.is-active {
      display: none;
    }
  }

  &.pc {
    display: none;
  }

  @include mq('lg') {
    &.sp {
      display: none;
    }

    &.pc {
      display: block;
    }
  }
}

.ly_header {
  &Logo{
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px 0;
    // margin: 0 auto;
  
    &.is-active {
      position: relative;
      left: 0;
      transform: translateX(0%);
      display: flex;
      flex-direction: column;
    }
  }
}

.bl_header {
  &Nav {
    &-above {
      padding: 2.5px 0;
      background-color: #000;
      &-ul {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        vertical-align: middle;
        // background-color: green;
      }
      // &-link{
      //   display: inline-block;
      //   color: red;
      //   align-items: baseline;
      // }
    }
    &-below {
      &-ul{
        display: flex;
        padding: 20px 0;
        & li:last-child{
          margin-right: 0;
        }
      }
      &-drop {
        position: relative;
        // background-color: antiquewhite;
        margin-right: 40px;
        &-list {
          display: none;
        }
        &-list.is-active {
          display: block;
        }
        &::before{
          position: absolute;
          top: 50%;
          right: -17.5%;
          // font-weight: 400;
          content: '';
          transform: rotate(-45deg);
          width: 5px;
          height: 1px;
          background-color: #000;
        }
        &::after{
          position: absolute;
          top: 50%;
          right: -14%;
          // font-weight: 400;
          content: '';
          transform: rotate(45deg);
          width: 5px;
          height: 1px;
          background-color: #000;
        }
        &.lifestyle{
          &::before{
            right: -14%;
          }
          &::after{
            right: -11%;
          }
        }
      }
    }
  }
  &Below{
    position: relative;
    display: flex;
  }
}

.el_header {
  &Logo {
    display: block;
    margin: 0 auto;
    width: 71px;
    height: 40px;

    &.white {
      display: none;
    }

    &.is-active {
      &.black {
        display: none;
      }

      &.white {
        display: block;
      }

      margin-top: 80px;
      margin-bottom: 50px;
      width: 77px;
      height: 44px;
    }
    &.pc{
      // display: flex;
      position: absolute;
      top: 10%;
      left: 8%;
    }
  }

  &Nav {
    &-above {
      &-text {
        color: #fff;
      }
    }
    &-below {
      &-li{
        margin-right: 30px;
        &:last-of-type{
        }
      }
      &-link{
        font-size: 1.125rem;
        color: #000;
        // display: inline-block;
        // margin-right: 30px;
        // &:last-child{
        //   margin-right:0;
        // }
        position: relative;
        &::before{
          content: '';
          position: absolute;
          bottom: -15px;
          left: 0;
          // width: 100%;
          height: 2px;
          background-color: #000;
          transition: .3s;
          // display: none;
        }
        &:focus,
        &:hover{
          opacity: .7;
          &::before{
            bottom: -5px;
            width: 100%;

            // display: block;
          }
        }
      }
    }
  }

  &Nav-above {
    &-li {
      margin-right: 20px;
    }

    &-link {
      display: flex;
      color: #000;
      font-size: 15px;
      font-weight: bold;
    }
  }
}

.bl_headerNav-below-ul li:last-child{
  margin-right: 0;
}

// ハンバーガーメニュー

.bl_burger {
  display: none;
  // margin-top: 50px;
  padding: 0 20px;
  background-color: #000;

  &.is-active {
    display: block;
  }

  &Col {
    // background-color: aqua;
    display: flex;
    flex-wrap: wrap;
    // max-width: 160px;
    justify-content: space-between;
  }

  &Nav {
    margin-top: 84px;
  }

  &Ul {
    display: flex;
    justify-content: center;
  }
}

.el_burger {
  &Item {
    position: relative;
  }

  &Img {
    position: relative;
    // width: 200px;
  }

  &Li {
    // display: block;
    margin-right: 21px;

    &:last-child {
      margin-right: 0;
    }
  }

  &Link {
    color: #fff;
  }

  &Virkin {
    &::before {
      content: '';
      width: 109px;
      height: 56px;
      background-image: url(../../img/top/burgerLogo-virkin.svg);
      position: absolute;
      top: 23px;
      left: 50%;
      transform: translateX(-50%);
      z-index: 100;
      display: block;
    }

    &::after {
      content: '';
      width: 129px;
      height: 26px;
      background-image: url(../../img/top/burgerLogo-rockstarr.svg);
      position: absolute;
      bottom: 30px;
      left: 50%;
      transform: translateX(-50%);
      z-index: 100;
      display: block;
    }
  }

  &Jeep {
    &::before {
      content: '';
      width: 107px;
      height: 53.5px;
      background-image: url(../../img/top/burgerLogo-outletjeep.svg);
      position: absolute;
      top: 14px;
      left: 50%;
      transform: translateX(-50%);
      z-index: 100;
      display: block;
    }

    &::after {
      content: '';
      width: 88px;
      height: 44px;
      background-image: url(../../img/top/burgerLogo-jeep.svg);
      position: absolute;
      bottom: 27px;
      left: 50%;
      transform: translateX(-50%);
      z-index: 100;
      display: block;
    }
  }

  &Sales {
    &::before {
      content: '';
      width: 82px;
      height: 74px;
      background-image: url(../../img/top/burgerLogo-sales.svg);
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -60%);
      z-index: 100;
      display: block;
    }
  }

  &Starkplace {
    &::before {
      content: '';
      width: 142px;
      height: 14px;
      background-image: url(../../img/top/burgerLogo-starkplace.svg);
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -90%);
      z-index: 100;
      display: block;
    }
  }

  &Flight {
    &::before {
      content: '';
      width: 146px;
      height: 83px;
      background-image: url(../../img/top/burgerLogo-flight.svg);
      position: absolute;
      top: 23px;
      left: 50%;
      transform: translateX(-50%);
      z-index: 100;
      display: block;
    }
  }

  &Beacon {
    &::before {
      content: '';
      width: 154px;
      height: 89px;
      background-image: url(../../img/top/burgerLogo-beacon.svg);
      position: absolute;
      top: 17%;
      left: 50%;
      transform: translate(-50%, 0%);
      z-index: 100;
      display: block;
    }
  }
}

.bl_burgerIcon {
  display: flex;
  justify-content: flex-end;
  margin-top: 40px;
  padding-bottom: 50px;
}

.el_burgerIcon {
  &-item {

    // background-color: red;
    // display: block;
    // margin-right: 20px;
    &>svg {
      fill: rgba(255, 255, 255, .5);
    }
  }
}

.el_headerMenu-btn {
  position: absolute;
  top: 0;
  right: 0;
}


// mainビジュアルエリア
.bl_mv {
  padding-top: 60px;
  position: relative;

  &Slide {
    &.pc {
      display: none;
    }
  }

  @include mq('md') {
    &Slide {
      &.pc {
        display: block;
      }

      &.sp {
        display: none;
      }
    }
  }
  @include mq('lg'){
    padding-top: 116px;
    &Slide{
      &.wrapper{
        max-width: 1240px;
        // width: 100%;
      }
    }
  }
}

.ly_mvContainer {
  position: relative;
  // padding: 162px 0;
  padding: 20px 0 23px 0;
  // width: 100%;
}

.el_mvImg {
  // position: absolute;
  // top: 0;
  // left: 0;
  // max-width: 1200px;
  width: 100%;
  object-fit: cover;
  // overflow: hidden;
  box-sizing: border-box;
}

.bl_mvTitle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #fff;
  // margin: 162px 0;
}

.ly_mvTitle {
  &-life {
    // margin-top: -20px;
    margin-bottom: -5px;
  }
  &-with {
    margin-top: -10px;
    // margin-bottom: 30px;
  }
  &-virkin {
    margin-top: -15px;
    // margin-top: -25px;
  }
  @include mq('lg'){
    &-life{
      margin-top: 0px;
      margin-bottom: 0px;
    }
    &-with{
      margin-top: 0px;
    }
    &-virkin{
      margin-top: 10px;
    }
  }
}

.el_mvTitle {
  &-b {
    text-shadow: 0 0 20px black;
    // background-color: antiquewhite;
    font-size: 5.05rem;
    line-height: 1.13;
  }

  &-s {
    text-shadow: 0 0 20px black;
    display: block;
    // background-color: antiquewhite;
    font-size: 2.2rem;
    line-height: 1.16;
  }
  @include mq('lg'){
    &-b{
      font-size: 6.5rem;
      line-height: .5;
    }
    &-s{
      font-size: 3rem;
    }
  }
}

.el_mvScroll {
  position: absolute;
  z-index: 100;
  color: #fff;
  bottom: -71px;
  left: 50%;
  transform: translateX(-50%) scale(0.8);

  &-arrow {
    position: absolute;
    z-index: 100;
    content: '';
    bottom: -38px;
    left: 50%;
    transform: translateX(-50%);
    // transform: rotate(90deg);
    width: 1px;
    height: 30px;
    background-color: #fff;

    &::before {
      position: absolute;
      content: '';
      bottom: -2px;
      left: 5px;
      // transform: translateX(-50%);
      transform: rotate(45deg);
      width: 1px;
      height: 15px;
      background-color: #fff;
    }

    &::after {
      position: absolute;
      content: '';
      bottom: -2px;
      right: 5px;
      // transform: translateX(-50%);
      transform: rotate(-45deg);
      width: 1px;
      height: 15px;
      background-color: #fff;
    }
  }
}

// carlifeエリア
.el_topContent {
  // background-color: antiquewhite;
  // color: #fff;
  // fill: #fff;
}

.bl_topContent-col svg {
  fill: #fff;
  // background-color: green;
  // color: #fff;
  width: 55%;
}

.el_topContent {
  position: relative;

  &-logo {
    &.virkin {
      position: absolute;
      top: 18%;
      transform: translate(-50%, -25%);
    }

    &.rockstarr {
      position: absolute;
      top: 78.5%;
      transform: translate(-50%, -75%);
    }

    &.jeepoutlet {
      position: absolute;
      width: 50%;
      top: 18.5%;
      transform: translate(-50%, -25%);
    }

    &.jeep {
      position: absolute;
      top: 78.5%;
      transform: translate(-50%, -75%);
    }

    &.sales {
      width: 65%;
      top: 49%;
    }

    &.starkplace {
      width: 70%;
      top: 48.5%;
    }

    &.flight {
      width: 60%;
      top: 48.5%;
    }

    &.beacon {
      width: 60%;
      top: 49%;
    }
  }

  &-line {
    position: absolute;
    top: 48%;
    left: 50%;
    transform: translateX(-50%);
    content: '';
    width: 76%;
    height: 1px;
    background-color: #fff;
  }
  @include mq('lg'){
    &-logo{
      &.rockstarr{
        top: 77%;
      }
      &.jeepoutlet{
        width: 48%;
        left: 48.5%;
      }
      &.jeep{
        top: 77%;
        left: 48.5%;
        width: 54%;
      }
      &.sales{
        top: 47%;
        width: 62%;
      }
    }
    &-line{
      top: 47%;
    }
  }
}
// lifestyleエリア
.bl_lifestyle>.ly_topContent-container {
  @include mq('lg') {
    margin-top: -98px;
  }
}

// infoエリア
.bl_info>.ly_topContent-container {
  padding-bottom: 52px;

  @include mq('md') {
    padding-bottom: 80px;
  }
  @include mq('lg') {
    padding-bottom: 60px;
  }
}

.ly_topContent-col {
  &.info {
    @include mq('md') {
      // max-width: 373px;
      // width: 100%;
      // display: flex;
      flex-wrap: wrap;
    }
    // @include mq('lg'){

    // }
  }
}

.bl_topContent-col {
  &.info {
    @include mq('md') {
      // max-width: 32%;
      width: calc(50% - 10px);
    }
    @include mq('lg') {
      // margin-bottom: 10px;
      // max-width: 32%;
      width: calc(32.92% - 10px);
    }
    @include mq('xl') {
      // margin-bottom: 10px;
      // max-width: 32%;
      width: calc(33% - 10px);
    }
  }
}

.bl_topContent {
  &-text {
    color: #fff;
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 0 14px 18px 14px;
  }

  @include mq('md') {
    &-col {
      &.info {
        &:nth-of-type(3n) {
          // padding: 20px;
          margin-right: 20px;
        }

        &:nth-of-type(2n) {
          // padding: 20px;
          margin-right: 0;
        }
      }
    }
  }
  @include mq('lg') {
    &-text{
      padding-bottom: 35px;
    }
    &-col {
      &.info {
        &:nth-of-type(2n) {
          // padding: 20px;
          margin-right: 20px;
        }
        &:nth-of-type(3n) {
          // padding: 20px;
          margin-right: 0;
        }
      }
    }
  }
  @include mq('xl') {
    &-text{
      padding-bottom: 35px;
    }
    &-col {
      &.info {
        &:nth-of-type(2n) {
          // padding: 20px;
          margin-right: 20px;
        }
        &:nth-of-type(3n) {
          // padding: 20px;
          margin-right: 0;
        }
      }
    }
  }
}

.ly_topContent {
  &-date {
    margin-right: 20px;
  }
}

.el_topContent {
  &-date {
    font-size: 0.5625rem;
  }

  &-label {
    font-size: 0.5625rem;
  }

  &-heading {
    font-size: 1rem;
    line-height: 1.5;
  }
}

// btnエリア
.bl_btn {
  &Area {
    // background-color: antiquewhite;
    padding: 0 16px;
    color: #000;
    display: flex;
    justify-content: center;
  }
}

// footerエリア
.bl_footer{
  position: relative;
}
.el_footer {
  &Logo {
    width: 33%;
    display: flex;
    margin-right: 20px;
    // justify-content: center;
  }

  &Svg {
    // width: 113.5px;
    height: 77px;
    width: 100%;
  }
  @include mq('lg'){
    &Logo{
      align-items: center;
    }
    &Svg{
      height: 120px;

    }
  }
}