body {
  line-height: 1.8;
  color: #333;
  font-size: 20px;
  font-family: "Copperplate", Helvetica, "游ゴシック体", sans-serif;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: bottom;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.f-yu {
  font-family: "游ゴシック体";
}


.header {
  position: fixed;
  width: 100%;
  z-index: 1000;
  background-color: #fff;

  &.sp {

    position: relative;
    height: 40px;
    padding: 10px 16px;
    // background-color: antiquewhite;
    // background-color: gray;
    // display: flex;
    justify-content: center;
    z-index: 1000;

    &.is-active {
      display: none;
    }
  }
}

.ly_headerLogo {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  padding: 10px 0;
  // margin: 0 auto;

  &.is-active {
    position: relative;
    left: 0;
    transform: translateX(0%);
    display: flex;
    flex-direction: column;
  }
}

.el_headerLogo {
  display: block;
  margin: 0 auto;
  width: 71px;
  height: 40px;

  &.white {
    display: none;
  }

  &.is-active {
    &.black {
      display: none;
    }

    &.white {
      display: block;
    }

    // background-color: #000;
    margin-top: 80px;
    margin-bottom: 50px;
    width: 77px;
    height: 44px;
    // fill: #fff;
  }
}

.bl_burger {
  display: none;
  // margin-top: 50px;
  padding: 0 20px;
  background-color: #000;

  &.is-active {
    display: block;
  }

  &Col {
    // background-color: aqua;
    display: flex;
    flex-wrap: wrap;
    // max-width: 160px;
    justify-content: space-between;
  }

  &Nav {
    margin-top: 84px;
  }

  &Ul {
    display: flex;
    justify-content: center;
  }
}

.el_burger {
  &Item {
    position: relative;
  }

  &Img {
    position: relative;
    // width: 200px;
  }

  &Li {
    // display: block;
    margin-right: 21px;

    &:last-child {
      margin-right: 0;
    }
  }

  &Link {
    color: #fff;
  }

  &Virkin {
    &::before {
      content: '';
      width: 109px;
      height: 56px;
      background-image: url(../../img/top/burgerLogo-virkin.svg);
      position: absolute;
      top: 23px;
      left: 50%;
      transform: translateX(-50%);
      z-index: 100;
      display: block;
    }

    &::after {
      content: '';
      width: 129px;
      height: 26px;
      background-image: url(../../img/top/burgerLogo-rockstarr.svg);
      position: absolute;
      bottom: 30px;
      left: 50%;
      transform: translateX(-50%);
      z-index: 100;
      display: block;
    }
  }

  &Jeep {
    &::before {
      content: '';
      width: 107px;
      height: 53.5px;
      background-image: url(../../img/top/burgerLogo-outletjeep.svg);
      position: absolute;
      top: 14px;
      left: 50%;
      transform: translateX(-50%);
      z-index: 100;
      display: block;
    }

    &::after {
      content: '';
      width: 88px;
      height: 44px;
      background-image: url(../../img/top/burgerLogo-jeep.svg);
      position: absolute;
      bottom: 27px;
      left: 50%;
      transform: translateX(-50%);
      z-index: 100;
      display: block;
    }
  }

  &Sales {
    &::before {
      content: '';
      width: 82px;
      height: 74px;
      background-image: url(../../img/top/burgerLogo-sales.svg);
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -60%);
      z-index: 100;
      display: block;
    }
  }

  &Starkplace {
    &::before {
      content: '';
      width: 142px;
      height: 14px;
      background-image: url(../../img/top/burgerLogo-starkplace.svg);
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -90%);
      z-index: 100;
      display: block;
    }
  }

  &Flight {
    &::before {
      content: '';
      width: 146px;
      height: 83px;
      background-image: url(../../img/top/burgerLogo-flight.svg);
      position: absolute;
      top: 23px;
      left: 50%;
      transform: translateX(-50%);
      z-index: 100;
      display: block;
    }
  }

  &Beacon {
    &::before {
      content: '';
      width: 154px;
      height: 89px;
      background-image: url(../../img/top/burgerLogo-beacon.svg);
      position: absolute;
      top: 17%;
      left: 50%;
      transform: translate(-50%, 0%);
      z-index: 100;
      display: block;
    }
  }
}

.bl_burgerIcon {
  display: flex;
  justify-content: flex-end;
  margin-top: 40px;
  padding-bottom: 50px;
}

.el_burgerIcon {
  &-item {

    // background-color: red;
    // display: block;
    // margin-right: 20px;
    &>svg {
      fill: rgba(255, 255, 255, .5);
    }
  }
}

.el_headerMenu-btn {
  position: absolute;
  top: 0;
  right: 0;
}

.header.pc {
  display: none;
}

.bl_header {
  &Nav-above {
    &-ul {
      display: flex;
      align-items: center;
      vertical-align: middle;
      // background-color: green;
    }
  }
}

.el_header {
  // &Nav-icon>svg {
  //   width: 25px;
  //   height: 22px;
  //   margin-right: 4px;
  //   align-items: center;
  //   padding-top: 3px;
  // }

  &Nav-above {
    &-li {
      margin-right: 20px;
      // align-items: center;
      // background-color: aquamarine;
    }

    &-link {
      display: flex;
      // align-items: center;
      // background-color: antiquewhite;
      color: #000;
      font-size: 15px;
      font-weight: bold;
    }

    // &-text{
    //   margin-bottom: 100px;
    // }
  }
}



// mainエリア
.bl_mv {
  padding-top: 60px;
  position: relative;
}

.ly_mvContainer {
  position: relative;
  // padding: 162px 0;
  padding: 20px 0;
}

.bl_mvSlide {

  &.pc {
    display: none;
  }
}

.el_mvImg {
  // position: absolute;
  // top: 0;
  // left: 0;
  width: 100%;
  object-fit: cover;
}

.bl_mvTitle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #fff;
  // margin: 162px 0;
}

.ly_mvTitle{
  &-life{
    // margin-top: -20px;
    margin-bottom: -5px;
  }
  &-with{
    margin-top: -10px;
    // margin-bottom: 30px;
  }
  &-virkin{
    margin-top: -15px;
    // margin-top: -25px;

  }
}
.el_mvTitle {
  &-b {
    text-shadow: 0 0 20px black;
    // background-color: antiquewhite;
    font-size: 5.05rem;
    line-height: 1.13;
  }
  
  &-s {
    text-shadow: 0 0 20px black;
    display: block;
    // background-color: antiquewhite;
    font-size: 2.2rem;
    line-height: 1.16;
  }
}



.el_mvScroll {
  position: absolute;
  z-index: 100;
  color: #fff;
  bottom: -71px;
  left: 50%;
  transform: translateX(-50%) scale(0.8);

  &-arrow {
    position: absolute;
    z-index: 100;
    content: '';
    bottom: -38px;
    left: 50%;
    transform: translateX(-50%);
    // transform: rotate(90deg);
    width: 1px;
    height: 30px;
    background-color: #fff;

    &::before {
      position: absolute;
      content: '';
      bottom: -2px;
      left: 5px;
      // transform: translateX(-50%);
      transform: rotate(45deg);
      width: 1px;
      height: 15px;
      background-color: #fff;
    }

    &::after {
      position: absolute;
      content: '';
      bottom: -2px;
      right: 5px;
      // transform: translateX(-50%);
      transform: rotate(-45deg);
      width: 1px;
      height: 15px;
      background-color: #fff;
    }
  }
}

// carlifeエリア
.el_topContent {
  // background-color: antiquewhite;
  // color: #fff;
  // fill: #fff;
}

.bl_topContent-col svg {
  fill: #fff;
  // background-color: green;
  color: #fff;
  width: 50%;
}

.el_topContent {
  position: relative;

  &-logo {
    &.virkin {
      position: absolute;
      top: 25%;
      left: 50%;
      transform: translate(-50%, -25%);
    }

    &.rockstarr {
      position: absolute;
      top: 75%;
      left: 50%;
      transform: translate(-50%, -75%);
    }

    &.jeepoutlet {
      position: absolute;
      top: 25%;
      left: 50%;
      transform: translate(-50%, -25%);
    }

    &.jeep {
      position: absolute;
      top: 75%;
      left: 50%;
      transform: translate(-50%, -75%);
    }
  }

  &-line {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
    content: '';
    width: 76%;
    height: 1px;
    background-color: #fff;
  }
}

// infoエリア
.bl_info>.ly_topContent-container {
  padding-bottom: 58px;
}

.bl_topContent {
  &-text {
    color: #fff;
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 0 14px 14px 14px;
  }
}

.ly_topContent {
  &-date {
    margin-right: 20px;
  }
}

.el_topContent {
  &-date {
    font-size: 0.5625rem;
  }

  &-label {
    font-size: 0.5625rem;
  }

  &-heading {
    font-size: 1rem;
    // line-height: 1.5;
  }
}

// btnエリア
.bl_btn {
  &Area {
    // background-color: antiquewhite;
    padding: 0 16px;
    color: #000;
    display: flex;
  }
}

.el_btn {
  &News {
    margin-right: 10px;
  }
}

// footerエリア
.el_footer {
  &Logo {
    display: flex;
    justify-content: center;
  }

  &Svg {
    width: 113.5px;
    height: 77px;
  }
}